/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Lato, sans-serif;

  @apply bg-selected-sample-background-color;
}

.sidebar-header {
  @apply flex min-h-[64px] items-center justify-between;
  @apply bg-gradient-to-r from-column-header-background-color from-95% to-[#888];
  @apply px-4 px-4;
  @apply text-white;
}

.sidebar-item {
  @apply flex;
  @apply border-b border-r border-gray-300;
  @apply px-8 py-2 text-sm leading-6 font-semibold capitalize;
}

.completed {
  @apply text-sample-list-completed-item-color;
}

.uncompleted {
  @apply text-red-600;
}

.unselected {
  @apply bg-gradient-to-r from-gray-100 from-95% to-gray-500;
  @apply hover:from-gray-200;
  @apply text-green-600;
}

.selected {
  @apply bg-selected-sample-background-color;
  @apply text-gray-700;
}

.searchbox {
  @apply bg-column-header-background-color text-white w-40;
  @apply border-none outline-none ring-0;
  @apply focus:bg-white focus:text-tbase-color focus:outline-2 focus:outline-gray-300 focus:rounded-sm focus:ring-0;
}

.searchbox::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  @apply font-bold;
  color: white;
  opacity: 1;
}